* {
    /*Выравнивание по центру*/
    margin: 0;
    padding: 0;
}

body, html {
    /*Выравнивание по центру*/
    height: 100%;

    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.background{
    /*Выравнивание по центру*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #D9D9D9;
}

.login{
    box-sizing:border-box;
    background-color: #DAF7FE;
    width: 300px;
    height: 300px;
    position: relative;/*для позиционирования кнопки Sign in и Registration, так как "Если у родителя значение position
                        задано как relative, то отсчёт координат ведётся от края родительского элемента."*/
    font-size: 10pt;
    border-radius: 15px;
}



.login_header h1{
    background-color: #99D7FB;
    padding: 10px;
    text-align: center;

    font-size: 24pt;
    color: #003980;
    border-radius: 15px 0 15px 0;
}

.text_login{
    margin: 10px 15px;
    color: #003980;
}

input[type="text"]{
    box-sizing:border-box;
    margin-left: 15px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
}

.login_body form a{
   /* margin-top: 100px;*/
    margin-right: 15px;
    float: right;
    clear: both;

    text-decoration: none;
    color: #003980;
}

.login_body  {

}

input[type="submit"]{
    width: 150px;
    height: 35px;
    background-color: #99D7FB;
    float: left;

    /*display: block;*/
    position: absolute;
    bottom: 0px;
    color: #003980;
    text-decoration: none;
    font-size: 14pt;
    border-radius: 15px 0 0  0 ;
}

.registration_button {
    width: 150px;
    height: 35px;

    position: absolute;
    bottom: 0px;
    right: 0px;
    float: right;

    background-color: #99D7FB;
    font-size: 14pt;
    color: #003980;
    text-align:center;
    line-height: 35px; /*Если высоту строки (свойство line-height) сделать равной высоте блока (свойство height),
                        то вложенный элемент разместиться по центру.*/
    border-radius: 0 0 15px 0 ;
}

.registration_button a{
    text-decoration: none;
}

.registration_button_now input{
    width: 300px;
    height: 35px;
    border-radius: 15px 0 15px 0 ;
}

.error {
    margin: 5px;
    color: red;
    float: right;
}
